<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
</head>
<body>

<header class="site-header">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>康复统计系统</h1>
                <p>医疗价目表<br>
                    <span class="package-amount">共 <strong>1237</strong> 个项目</span></p>
                <form class="" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control search clearable" placeholder="搜索项目"> <i class="fa fa-search"></i>
                    </div>
                </form>
            </div>
        </div>
    </div>
</header>

<main class="packages-list-container" id="all-packages">
    <div class="container">
        <div class="list-group packages">
            <a class="package list-group-item" data-library-name="bootstrap" target="_blank">
                <div class="row">
                    <div class="col-md-3">
                        <h4 class="package-name">康复评定</h4>
                    </div>
                    <div class="col-md-9 hidden-xs">
                        <p class="package-description">含咨询。限不超过每周1次.</p>
                        <p class="package-description">
                            <span>¥ 22.00 / 次</span>
                        </p>
                    </div>
                    <div class="package-extra-info col-md-9 col-md-offset-3 col-xs-12">
                        <span>★ 82339</span>
                    </div>
                </div>
            </a>
            <a class="package list-group-item" data-library-name="bootstrap" target="_blank">
                <div class="row">
                    <div class="col-md-3">
                        <h4 class="package-name">运动疗法</h4>
                    </div>
                    <div class="col-md-9 hidden-xs">
                        <p class="package-description">含全身肌力训练、各关节活动度训练、徒手体操、器械训练、步态平衡功能训练、呼吸训练等.</p>
                        <p class="package-description">
                            <span>¥ 55.00 / 次</span>
                        </p>
                    </div>
                    <div class="package-extra-info col-md-9 col-md-offset-3 col-xs-12">
                        <span>★ 52339</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
</main>

<footer id="footer" class="footer hidden-print">
    <div class="container">
        <div class="row">
            <div class="about footer-col col-md-5 col-sm-12">
                <h4>汇总分析：</h4>

            </div>
            <div class="links footer-col col-md-3 col-md-offset-2 col-sm-12">
                <h4></h4>
            </div>
            <div class="sponsors footer-col col-md-2 col-sm-12">
                <h4></h4>
            </div>
        </div>
    </div>
</footer>

</body>
</html>