<footer id="footer" class="footer hidden-print">
    <div class="container">
        <div class="row">
            <div class="about footer-col col-md-5 col-sm-12">
                <h4>汇总分析：</h4>

            </div>
            <div class="links footer-col col-md-3 col-md-offset-2 col-sm-12">
                <h4></h4>
            </div>
            <div class="sponsors footer-col col-md-2 col-sm-12">
                <h4></h4>
            </div>
        </div>
    </div>
</footer>