<header class="site-header">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>康复统计系统</h1>
                <p>医疗价目表<br>
                    <span class="package-amount">共 <strong>1237</strong> 个项目</span></p>
                <form class="" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control search clearable" placeholder="搜索项目"> <i class="fa fa-search"></i>
                    </div>
                </form>
            </div>
        </div>
    </div>
</header>