<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" charset="utf-8">
    <title>用户列表</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
</head>
<body>

<% include ../common/header %>

<main class="packages-list-container" id="all-packages">
    <div class="container">
        <div class="list-group packages">
            <% users.forEach(function(user){ %>
            <a class="package list-group-item" data-library-name="bootstrap" target="_blank">
                <div class="row">
                    <div class="col-md-3">
                        <h4 class="package-name"><%=user.name%></h4>
                    </div>
                    <div class="col-md-9 hidden-xs">
                        <p class="package-description"><%=user.password%></p>
                        <p class="package-description">
                            <span><%=user._id%></span>
                        </p>
                    </div>
                </div>
            </a>
            <% }) %>
        </div>
    </div>
</main>

<% include ../common/footer %>

</body>
</html>